* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  /* background-color: rgb(224, 215, 215); */
  height: 600px;
  color: #000;
  background-image: url(https://images.unsplash.com/photo-1734559566238-f086e7be15c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3MXx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color {
  background-color: #ffffff;
  width: 30%;
  height: 80%;
  margin: 50px auto;
  border-radius: 20px;
  transition: ease-in-out 0.5s;
  box-shadow: 1px 1px 10px #fff;
}

.logo {
  height: 6rem;
  margin: 1.2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  padding-block: 1.2rem;
}

p {
  padding-block: 1.1rem;
}

.btn {
  background-color: rgb(179, 190, 190);
  color: aliceblue;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 0;
  font-size: 1.5rem;
  margin-inline: 20px;
  box-shadow: 0px 0px 20px rgb(167, 178, 187);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.btn:hover {
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(92, 85, 85, 0.4);
}

.increment {
  background-color: cadetblue;
}

.decrement {
  background-color: rgb(97, 104, 86);
}

.reset {
  background-color: red;
}

/* Media Query */
@media screen and (min-width: 315px) and (max-width: 576px) {
  .bg-color {
    width: 90%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .bg-color {
    width: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .bg-color {
    width: 70%;
  }
}