* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-color: #ffcab1b2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color {
  background-color: #ffffff;
  width: 30%;
  height: fit-content;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 20px;
  transition: ease-in-out 0.5s;
  box-shadow: 1px 1px 10px #fff;
}

.logo {
  height: 6rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  padding-block: 1.2rem;
}

p {
  padding-block: 1.1rem;
}

.btn {
  background-color: rgb(179, 190, 190);
  color: aliceblue;
  height: 45px;
  width: 45px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-inline: 20px;
  box-shadow: 0px 0px 20px rgb(167, 178, 187);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.btn img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(233, 229, 229);
  border: 1px solid rgb(92, 85, 85, 0.4);
}

.increment {
  background-color: rgba(95, 158, 160, 0.692);
}

.decrement {
  background-color: rgb(175, 175, 175);
}

.reset {
  background-color: red;
}

/* Media Query */
@media only screen and (max-width: 992px) {
  #root {
    height: fit-content;
  }

  .bg-color {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .bg-color {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .bg-color {
    width: 70%;
  }

  .btn {
    margin-inline: 7px;
  }
}

@media only screen and (max-width: 320px) {
  .bg-color {
    width: 90%;
  }
}